<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jaredrummler.cyanea.prefs">
  <application>
    <activity
        android:name=".CyaneaThemePickerActivity"
        android:label="@string/label_theme_picker"
        android:theme="@style/Theme.Cyanea.Light.DarkActionBar"/>
    <activity
        android:name=".CyaneaSettingsActivity"
        android:theme="@style/Theme.Cyanea.Light.DarkActionBar"/>
  </application>
</manifest>