### Gradle
.gradle
build

### IntelliJ IDEA
.idea
**.iml

### Local configuration file (sdk path, etc)
local.properties

### Android
*.jks
*.dex

### Android Studio
captures/

### Java
*.class

### Windows
Desktop.ini
Thumbs.db
ehthumbs.db

### OSX
.DS_Store

### Linux
*~
.fuse_hidden*
.directory
.Trash-*